*{
	margin: 0;
	padding: 0;
}
a,a:hover{
	text-decoration: none;
}
.ch-70{
	height: 70vh;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
*/

/*header section css*/
header{
	width: 100%;
	margin-top: 1rem 0px;
	position: absolute;
}
.navbar{
	margin-top: 32px !important;
}
.navbar-brand{
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	color: white !important;
	font-weight: 700px;
}
.nav-link{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px; 
	color: rgba(255,255,255,0.7) !important;
}
.nav-link:hover{
	color: white !important;
}
.active{
	color: white !important;
}
.nav-item{
	margin-left: 22px;
}

.banner-btn{
    padding: 6px 20px;
    background-color: transparent;
    border: 2px solid rgba(255 255 255/ 0.3);
    color: white;
    border-radius: 35px;
}
.banner-btn:hover{
	border-color: #fc8621;
	background-color: #fc8621;
	color: white;
}

#banner{
	width: 100%;
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-blend-mode: soft-light;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 100px 0px;
}
.banner-content h1{
	font-family: 'Playfair Display', serif;
	font-weight: 800px;
	font-size: 65px;
	color: white;
	margin-bottom: 48px; 
}
.banner-video i{
	width: 60px;
	height: 60px;
	margin-right: 16px;
	line-height: 60px;
	color: black;
	background-color: white;
	border-radius: 100%;
	text-align: center;
	position: relative;
	z-index: 9999;
}
.banner-video i::after{
	content: '';
	position: absolute;
	height: 70px;
	width: 70px;
	top: -5px; 
	left: -5px;
	border: 2px solid white;
	border-radius: 100%;
	background-color: transparent;
	z-index: -1;
}
.banner-video span{
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
	color: white; 
}
.location-i-con span{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
	font-size: 16px;
	top: 100px;
	bottom: 10px;
	position: absolute;
	align-items: center;
	color: white;
	margin-top: 560px;
	margin-left: 45px;
}

.i-con-room i{
	position: absolute;
	color: white;
	margin-top: 128px;
	border: 1px;
	background-color: transparent;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    margin-right: 15px;
}
.i-con-room i::after{
	position: relative;

}

/*about us section */

.about-us{
	width: 100%;
	padding: 100px 0px;
}
.sub-heading{
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621;
  	font-family: 'Open Sans', sans-serif;
}
.heading{
	font-family: 'Playfair Display', serif;
	font-size: 46px;
    color: #000;
    font-weight: 700;
}
.desc{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
}
.read-more-btn{
	background-color: #fc9842;
	border-radius: 35px;
	border: 2px solid #fc9842;
	padding: 10px 30px;
	color: white;
    font-family: "Open Sans", sans-serif;

}
.whate-we-serve{
	width: 100%;
	padding: 100px 0px;
}
.service-item{

}
.service-item h3{
	font-family: 'Playfair Display', serif;
	font-size: 28px;
    color: #000;
    font-weight: 700;

}
.service-item p{
	font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #999;
}
.price{
	padding: 30px;
	margin: 0px;
	display: inline-block;
	font-size: 22px;
	font-weight: 600px;
	color: #fc8621 !important;
	background-color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	box-shadow: 0px 15px 30px 0px rgba(0 0 0 /10%);
}
.Services .owl-nav{
	position: absolute;
    top: -140px;
    right: 12px;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    border: 2px solid #fc8621;
    background: #fc8621;
    transition: opacity .2s ease;
    border-radius: 30px;
    color: white;
}
.owl-theme .owl-dots .owl-dot.active span{
	background-color: transparent !important;
	background: #fc8621;

}
/***********************
 * detiels section
 * ***********************/
#detiels{
	width: 100%;
	padding: 100PX 0px;
}
.row h5{
	font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fc8621 !important;
}

.row h2{
	font-size: 40px;
	color: #000 !important;
    font-weight: 700;
}

.img-item a h3{
	font-size: 16px;
	color: #000 !important;

}

.img-item a h3:hover{
	color: #fc8621 !important;

}

.img-item p{
	padding-bottom: 10px;
	font-size: 14px;
}

.read-btn{
	color: #fc8621 !important;
}
a, .read-btn:hover{
	color: #d63384;

}
/*************************
 * bg-red-section
 * ***********************/

 #bg-red-section{
 	width: 100% !important;
 	padding: 80px 80px;
 	background-color: #fc8621 !important;
 	margin-top: 120px;
 	
 }

 .bg-btn{
	padding: 10px 30px;
    color: #fff !important;
    border-radius: 30px;
    background: #fc8621;
    border: 1px solid white;

}

.bg-btn:hover{
    border-color: transparent;
    border-color: #fc8621;
    background: white;
    color: #fc8621 !important;
    border: 1px solid white;
   
    
}

.col-md-10 h3{
	color: white !important;
}

/************************
 * footer section
 * ***********************/

 footer{
 	width: 100%;
 	padding: 70PX;
 }

 .col-md-4 h3{
 	font-size: 16px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    padding-right: 20px;
 }

 .col-md-4 p{
 	color: #999 !important;

 }

 .i-tag a{


 }

 .col-md-2 a{
 	display: block !important;
 	color: #999;
 }

 .col-md-2 h3{
 	font-size: 16px;
    color: #000;
    margin-top: 16px;
    margin-bottom: 30px;
    font-weight: 700;
 }

 .col-md-3 h3{
 	font-size: 16px;
    color: #000;
    margin-top: -26px;
    margin-bottom: 30px;
    font-weight: 700;
 }

 .col-md-3 a{
 	display: inline-block !important;
 	color: #999;
 }

 .i-tag{
 	padding-top: 50px;
 }

 

 .i-tag i{
 	padding-top: 8px;
 	padding-left: 8px;
 	position: absolute;
 	width: 30px;
 	height: 30px;
 	border-radius: 100px;
 	background: #999;
 	color: white !important;
 	
 }

 .i-tag i:hover{
 	background: #fc8621;
 }
 

.i-tag a{
 	margin-right: 40px !important;
 	position: relative;

 }
 